.box {
	display: block;
	box-sizing: border-box; /*данное свойство меняет поведение внутренних и внешних границ*/
	width: 400px;
	height: 350px;	
	overflow: scroll;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
}
.btn {
	display: block;
	width: 100px;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
}