.footer {
    min-height: 180px;
    background-color: $dark;
    padding: 45px 0 50px 0;
    color: #fff;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .subtitle {
        font-size: 20px;
    }
    .link {
        display: block;
        margin-top: 15px;
        font-size: 16px;
        color: #fff;
    }
    .call {
        text-align: right;
    }
}
@media (max-width: 1399.98px) {
    .footer {
        .container {
            max-width: 1000px;
        }
    }
}
// @media (max-width: 1199.98px) {}