* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
}
.wrapper {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
}
.box {
    width: 150px;
    height: 150px;
    justify-content: space-between;
    background-color: rgb(16, 195, 201);
}